.root {
	flex-grow: 2;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	cursor: pointer;
	margin-right: 30rem;
	font-family: Helvetica;
	font-weight: bold;
}

.logo:hover,
.links:hover {
	background-color:  #ad5389;;
	background-image: linear-gradient(to right, #ad5389, #3c1053);;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
}

.links {
	cursor: pointer;
	margin-right: 5rem;
}
