.root {
	margin-top: 3rem;
	background-image: url(../../public/Formbg.jpg);
	height: 100vh;
	overflow: auto;
}

.fieldContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
